.qu{
    height: 100px;
    width: 100%;
    background: lightcoral;
    color: brown;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    line-height: 100px;
    font-weight: 600;
}
.ans{
    height: auto;
    width: 100%;
    margin-top: 20px;
    background:lightyellow;
    line-height: 30px;
}
.ans p{
    font-size: 25px;
    font-family: sans-serif;
    color:darkgreen;
    text-align: justify;
    font-weight:600;
}